---
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";
import {allInvite} from "../../js/backend.mjs";
import Card1 from "../../components/Card1.astro";
import { getInvites } from "../../js/backend.mjs";
const invite = await getInvites()
---

<Layout titre="Galerie de film">
	
    <div>
        <div class=" p-6">
            {invite?.map((invites) => <Card1 {...invites} />)}
        </div>
    </div>
	
</Layout>