---
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import { getFilms, filterByCat, allFilms } from "../../js/backend.mjs";

const {id} = Astro.params;

let message ='';
let films = [];
if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();

    console.log(data);

    const cat = data.get("cat") as string;
    console.log(cat);

    if (["Film", "Documentaire"].includes(cat)) {
        films = await filterByCat(cat);
        if(films.length === 0) {
            message = "Pas de films correspondant à la catégorie recherché";
            console.log(cat);
        }
    } else {
        message = "Veuillez entrer des valeurs valides pour le prix.";
        films = await allFilms()  ;
        console.log(cat);
    }
} else {
    films = await allFilms() || [];
}
if (!films){
    return Astro.redirect ('/film');
}
---


<Layout titre="Galerie de film">
    
    <form class="max-w-md mx-auto mt-10 p-6 bg-white rounded-lg shadow-md" action="/film" method="POST">
        <div class="mb-4">
          <label for="cat" class="block text-gray-700 text-sm font-bold mb-2">
            Choisir une catégorie
          </label>
          <select name="cat" id="cat" class="block w-full bg-gray-200 border border-gray-200 text-gray-700 py-2 px-3 rounded focus:outline-none focus:bg-white focus:border-gray-500">
            <option value="Film">Film</option>
            <option value="Documentaire">Documentaire</option>
          </select>
        </div>
        <div class="flex items-center justify-end">
          <input type="submit" value="Filtrer par catégorie" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        </div>
      </form>
    
    
    <div class="">
        <div class="grid grid-cols-1 lg:grid-cols-3 ">
            {films.map((film) => <Card {...film} />)}
        </div>
    </div>
	
</Layout>