---
import LogoCoupe from "../../assets/Icons/Logo-coupe.svg";
import Insta from "../../assets/Icons/insta.svg";
import Facebook from "../../assets/Icons/facebook.svg";
import Tiktok from "../../assets/Icons/tiktok.svg";
import Linkedin from "../../assets/Icons/linkedin.svg";
---


<footer class="bg-marron pb-6">
    <div class="flex p-3">
        <LogoCoupe/><h1 class="p-2 text-3xl font-bold text-white">Vis'Sport</h1>
    </div>
    <nav>
        <h2 class="text-2xl font-semibold text-white p-3">Menu</h2>
        <ul>
            <a href=""><li class="text-base text-white pb-2 pl-3">Mention Légale</li></a>
            <a href=""><li class="text-base text-white pb-2 pl-3">Billeterie</li></a>
            <a href=""><li class="text-base text-white pb-2 pl-3">où nous trouver ?</li></a>
            <a href=""><li class="text-base text-white pb-2 pl-3">Notre Newslater</li></a>
        </ul>
        <h2 class="text-2xl font-semibold text-white p-2">Nos Réseaux</h2>
        <ul class="flex justify-between m-3">
            <a href=""><li ><Insta class="h-10 w-10"/></li></a>
            <a href=""><li ><Facebook class="h-10 w-10"/></li></a>
            <a href=""><li ><Tiktok class="h-10 w-10"/></li></a>
            <a href=""><li ><Linkedin class="h-10 w-10"/></li></a>
            <button class="bg-beige p-2  text-white ">Retourner en Haut<button/>
        </ul>
    </nav>
    
    
</footer>
